.home-title
{
    margin-top: 20px;
    margin-bottom: 50px;
}

.home-info
{
    margin-top: 50px;
}

.home-info-title, .home-info-content
{
    margin: 20px;
}

li
{
    margin: 10px;
}

table.home-info-search,td
{
    border: 2px solid black;
    padding: 20px;
}