{% extends 'catalog/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'catalog/css/index.css' %}">
{% endblock %}


{% block content %}

<div class="home-title">
  <h1>Our Library</h1>
</div>

<p>Welcome to our Library, a website developed by <em>Lokesh Aggarwal</em>!</p>

<div class="home-info">
  <div class="home-info-title">
    <h4>Basic Information</h4>
  </div>
  <div class="home-info-content">
    <ul>
      <li><strong>Books:</strong> {{ num_books }}</li>
      <li><strong>Copies:</strong> {{ num_instances }}</li>
      <li><strong>Copies available:</strong> {{ num_instances_available }}</li>
      <li><strong>Authors:</strong> {{ num_authors }}</li>
    </ul>
  </div>
</div>

<div class="home-info">
  <div class="home-info-title">
    <h4>Search By</h4>
  </div>
  <div class="home-info-content">
    <table class="home-info-search">
      <tr>
        <td>
          <h6>Book</h6>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Book Name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
          
        </td>
        <td>
          <h6>Author</h6>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Author Name" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </td>
      </tr>
      <tr>
        <td>
          <h6>Genre</h6>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Genre" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </td>
        <td>
          <h6>Language</h6>
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Language" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </td>
      </tr>
      
    </table>
  </div>
</div>

{% endblock %}